<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="calcontainer">
        <h3>Make your booking here!</h3>
        <%= simple_form_for [@experience,@booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.button :submit, class: 'btn-main' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
