.button-book {
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.15em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
  color: black;
  text-align:center;
  transition: all 0.2s;
}
.button-book:hover {
  color: white;
  background-color: black;
}

.btn-main {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #edd9a3;
  height: 48px;
  &:hover{
      transform: scale(1.04);
      background-color: #edd9a3;
  }
}
