.main-image {
  opacity:0.3;
  background-color:red;
}

.image-container {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#form-container {
  width: 500px;
}

#fname {
  width:370px;
}

.banner {
 width:100%;
 height:100vh;
 background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://img.freepik.com/free-vector/group-young-people-having-fun-illustrated_23-2148292670.jpg?w=826&t=st=1653563957~exp=1653564557~hmac=487668f9cee6eca2d8c1c8c0b46d7615592156721a62d2288e2ad2ceef42093d");
 background-size:cover;
 background-repeat:no-repeat;
 background-position-y: 40%;
 display:flex;
 justify-content:center;
 align-items: center;
}
