.navbar-lewagon {
  justify-content: space-between;
  background: #edd9a3;
}

.navbar-light .navbar-nav .nav-link {
  color: #4a6d58;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.nav-link {
  color: #faedcd;
}
