.navbar-lewagon {
  justify-content: space-between;
  background: #faedcd;
}

.navbar-light .navbar-nav .nav-link {
  color: #588157;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  border-radius: 70px;
}

.nav-link {
  color: #faedcd;
}
