.navbar-lewagon {
  justify-content: space-between;
  background: #edd9a3;
}

.navbar-light .navbar-nav .nav-link {
  color: #4a6d58;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.nav-link {
  color: #faedcd;
}

.default-avatar {
  background-image: url(https://i.pinimg.com/564x/1d/83/a6/1d83a6d88d8be5b041a9a98fd5048311.jpg);
  background-size: cover;
}
