/* .footer {
  width: 200px;
  border: 1px;


  .fbicon {
      width: 50px !important;
  }

  .twicon {
      max-width: 30%;
  }

  .liicon {
      width: auto;
      height: auto;
  }

  .contact {
      width: auto;
      height: auto;
  }
}
*/ 
